extends layout

block content
    h1= title

    .row
        .col-sm-3
            ul.nav.nav-pills.nav-stacked
                each csv in csvs
                    li
                        a.csv(href='#', id=csv)
                            | CSV #!{csv}
        .col-sm-9#results-pane(style='display: none')
            a#visualize-link.btn.btn-primary.btn-block.text-center.
                Visualize
            br
            pre#csv-output

    script(src='/scripts/interactive.js')
