extends layout

block content
    h1 Select PDF files to load

    div
        each file in files
            p
                button(class='btn btn-default upload' value=file)
                    span(class='glyphicon glyphicon-refresh').
                !{file}

    script(src='/scripts/list.js')
