extends layout

block content
    h1 Select PDF files to load

    div
        each file in files
            p
                button(class='btn btn-default upload' value=file)
                    span(class='fa fa-refresh').
                &nbsp; !{file}

    script(src='/scripts/list.js')
