html
  head
    title Transparent
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // d3
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='http://d3plus.org/js/d3plus.js')
    // jQuery UI
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script.
      $(function(){
      d3.csv("/csv/#{vote}", function(data) {
      //id,vote,program,subvote,item,fy12,fy13,fy1
      $('#vote').html(data[0].vote);
      randomly_color_tag = function(attr, tag){
      d3.selectAll(tag).style(attr, function() {
      return "hsl(" + Math.random() * 360 + ",100%,50%)";
      });
      };
      get_radius = function(d){
      return 10*Math.log(1+d.fy14);
      };
      get_diameter = function(d) {
      return 20*Math.log(1+d.fy14);
      }

      var svgSelection = d3.select("body").selectAll("svg").data(data).enter().append("svg");
      svgSelection.append("circle");
      svgSelection.append("text").style("text-anchor", "middle");
      
      d3.selectAll("svg")
      .data(data)
      .attr("width", get_diameter)
      .attr("height", get_diameter);
      
      d3.selectAll("circle")
      .data(data)
      .attr("r", get_radius)
      .attr("cx", get_radius)
      .attr("cy", get_radius);
      
      d3.select("body").style("background-color", "black");
      
      d3.selectAll("text")
      .data(data)
      .attr("x", get_radius)
      .attr("y", get_radius)
      .html(function(d){
      return "<tspan>"+d.subvote+": TZS "+d.fy14+"</tspan>";
      });
      d3plus.textwrap()
      .container(d3.selectAll('text'))
      .resize(true)
      randomly_color_tag("fill", "circle");
      });
      });
  body
    h1#vote(style='color:white') Tanzanian Treasury
