html
  head
    title Transparent
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // d3
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    // jQuery UI
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script.
      $(function(){
      d3.csv("/csv/7", function(data) {
      L = [{id:"TREASURY", fy12: 10, fy13: 1001, fy14:1000000},
      {id:"TREASURY", fy12: 10, fy13: 1001, fy14:30},
      {id:"TREASURY", fy12: 10, fy13: 1001, fy14:60},
      {id:"TREASURY", fy12: 10, fy13: 1001, fy14:120},
      {id:"TREASURY", fy12: 10, fy13: 1001, fy14:30}];
      //id,vote,program,subvote,item,fy12,fy13,fy1
      L = data;
      $('#vote').html(data[0].vote);
      randomly_color_tag = function(attr, tag){
      d3.selectAll(tag).style(attr, function() {
      return "hsl(" + Math.random() * 360 + ",100%,50%)";
      });
      };
      get_size = function(expense){
      return 11*Math.log(1+expense);
      };
      var svgSelection = d3.select("body").selectAll("svg").data(L).enter().append("svg");
      svgSelection.append("circle");
      svgSelection.append("text").style("text-anchor", "middle");
      d3.selectAll("svg").data(L).attr("width", function(d){return 2*get_size(d.fy14);});
      d3.selectAll("svg").data(L).attr("height", function(d){return 2*get_size(d.fy14);});
      d3.selectAll("circle").data(L);
      d3.selectAll("circle").attr("r", function(d){return get_size(d.fy14);});
      d3.selectAll("circle").attr("cx", function(d){return get_size(d.fy14);});
      d3.selectAll("circle").attr("cy", function(d){return get_size(d.fy14);});
      d3.select("body").style("background-color", "black");
      d3.selectAll("text").data(L);
      d3.selectAll("text").style("font-size", function(d) {
      return 2*get_size(d.fy14)/d.vote.length + "px"; });
      d3.selectAll("text").attr("x", function(d){
      return get_size(d.fy14);
      });
      d3.selectAll("text").attr("y", function(d){
      return get_size(d.fy14);
      });
      d3.selectAll("text").html(function(d){
      var radius = get_size(d.fy14);
      var second_line_y = radius+3*get_size(d.fy14)/d.vote.length;
      var third_line_y = radius+9*get_size(d.fy14)/d.vote.length;
      return "<tspan font-size="+3*get_size(d.fy14)/d.vote.length +" x='"+radius+"' y='"+radius+"'>"+d.subvote+"</tspan><tspan font-size="+3*get_size(d.fy14)/d.vote.length +" x='"+radius+"' y='"+second_line_y+"'> TZS "+d.item+"</tspan><tspan font-size="+5*get_size(d.fy14)/d.vote.length +" x='"+radius+"' y='"+third_line_y+"'> TZS "+d.fy14+"</tspan> ";
      });
      randomly_color_tag("fill", "circle");
      });
      });
  body
    h1#vote(style='color:white') Tanzanian Treasury
